body {
  text-align: center;
  font-family: 'Eczar', serif;
  font-size: 16px;
  background-color: #33333d;
  color: #fff;
}

h2 {
  font-size: 3.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin: 52px 0 40px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
  position: relative; 
}

.search-form button {
  outline: none;
  border: none;
  padding: 1rem .75rem;
  background: none;
  cursor: pointer;
  color: #fff;
  right: 0;
  top: 0;
  position: absolute;
}

input {
  font-size: 1rem;
  color: #fff;
  width: 100%;
  background-color: #373740;
  border-right: none;
  border-radius: 2px;
  outline: none;
  padding: 1.25rem .75rem .75rem .75rem;
  display: block;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: border-color 0.2s ease-in-out
}

input:focus, input:valid {
  border-bottom-color: #1eb980;
}

input:focus ~ label, input:valid ~ label     {
  top: 2px;
  left: .75rem;
  font-size: .875rem;
  color:#1eb980;
}

label {
  color: #fff; 
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1rem;
  top: .875rem;
  transition: 0.2s ease-in-out all; 
}

.main-nav li {
  width: 100%;
  margin-bottom: 1rem;
}

.main-nav a {
  display: block;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .875rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  border-color:#1eb980;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 165px;
  overflow: hidden;
  opacity: 0;
  border-radius: 2px;
  margin-bottom: 15px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadein;
  background-color: #27272f;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow, transform 0.2s ease-in-out;
}

.photo-container ul li:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: scale(2);
  z-index: 10;
}

.photo-container ul img {
  align-self: center;
  max-width: 100%;
  height: auto;
  margin: auto 0;
  transition: transform 0.2s ease-in-out;
}

.photo-container li:hover img {
  transform: scale(1.25);
}

.photo-container .not-found {
  width: 100%;
}

/* Loader from https://projects.lukehaas.me/css-loaders/ */
.loader {
  color: #1eb980;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2rem;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4rem;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 125px;
  }
}

/* Cascade animation for imgs */
/* Cascade animation for list items */
.photo-container ul li:nth-child(1) {
  animation-delay: 0s;
}
.photo-container ul li:nth-child(2) {
  animation-delay: 20ms;
}
.photo-container ul li:nth-child(3) {
  animation-delay: 40ms;
}
.photo-container ul li:nth-child(4) {
  animation-delay: 60ms;
}
.photo-container ul li:nth-child(5) {
  animation-delay: 80ms;
}
.photo-container ul li:nth-child(6) {
  animation-delay: 100ms;
}
.photo-container ul li:nth-child(7) {
  animation-delay: 120ms;
}
.photo-container ul li:nth-child(8) {
  animation-delay: 140ms;
}
.photo-container ul li:nth-child(9) {
  animation-delay: 160ms;
}
.photo-container ul li:nth-child(10) {
  animation-delay: 180ms;
}
.photo-container ul li:nth-child(11) {
  animation-delay: 200ms;
}
.photo-container ul li:nth-child(12) {
  animation-delay: 220ms;
}
.photo-container ul li:nth-child(13) {
  animation-delay: 240ms;
}
.photo-container ul li:nth-child(14) {
  animation-delay: 260ms;
}
.photo-container ul li:nth-child(15) {
  animation-delay: 280ms;
}
.photo-container ul li:nth-child(16) {
  animation-delay: 300ms;
}

/* Animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }
   100% {
    opacity: 1;
  }
}
